<h1>Show Page</h1> <br><br>

<table border=0 cellspaceing="5">
	<tr>
		<td>Title</td><td>:</td><td><%= @page.title %></td>
	</tr>
	<tr>	
		<td>Category</td><td>:</td><td><%= @page.categorie.name %></td>
	</tr>
	<tr>	
		<td valign='top'>Content</td><td valign='top'>:</td><td valign='top'><%= @page.content.html_safe %></td>
	</tr>
	<tr>	
		<td>Last Updated</td><td>:</td><td><%= @page.updated_at %></td>
	</tr>	
	
</table>	

<br>
<%= link_to 'Back', admin_pages_path, class: "btn btn-info" %>
<br>