      <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">CaptiveOne Library</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
          	<li ><%= link_to "Home", home_path %></li>
            <li ><%= link_to "Learn", pages_path %></li>
            <li><%= link_to "Contact", contact_path %></li>
            <li><%= link_to "Sign out", destroy_user_session_path , method: :delete %></li>
			
          </ul>
			
            <%= form_tag(pages_path, :method => "get",  id: "search-form",:class => 'navbar-form navbar-right')  do %>
				
			 	 <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search.." %>
			    
			<% end %>
            <div class="welcome">Welcome    <%=  current_user.username %></div>
        </div><!--/.nav-collapse -->
      </div>
	  
    </div>

