<h3>Change your password</h3>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put , class:"form-signin"}) do |f| %>
  
  <div class="logo">
    <%= link_to image_tag("logo.jpg", alt: "Responsive image",:class => 'img-responsive'), '#' %>
  </div>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

   <%= f.password_field :password, autofocus: true, autocomplete: "off", class: "form-control", :placeholder=>"New password" %>

   <%= f.password_field :password_confirmation, autocomplete: "off" , class: "form-control", :placeholder=>"Confirm new password" %>
  <%= f.submit "Change my password" , class: "btn btn-lg btn-login btn-block" %>
 
   <%- if controller_name != 'sessions' %>
   <div class="checkbox"><%= link_to "Sign in", new_session_path(resource_name) %></div>
  <% end -%>

<% end %>

<% #= render "devise/shared/links" %>



