<script>
var time,timeSite,starttime,endtime;

function getCookie(c_name)
{
  if (document.cookie.length>0)
    {
    c_start=document.cookie.indexOf(c_name + "=");
    if (c_start!=-1)
    {
    c_start=c_start + c_name.length+1;
    c_end=document.cookie.indexOf(";",c_start);
    if (c_end==-1) c_end=document.cookie.length;
    return unescape(document.cookie.substring(c_start,c_end));
    }
    }
  return "";
}

function checkCookie(c_name)
{
  group=getCookie(c_name);
  if (group!=null && group!="")
    {
    return 1;
    }
  else
    {
   return 0;
    }
}

function setCookie(c_name,value,expiredays,path)
{
  var exdate=new Date();
  exdate.setDate(exdate.getDate()+expiredays);
  document.cookie=c_name+ "=" +escape(value)+
  ((expiredays==null) ? "" : ";expires="+exdate.toGMTString())+
   ("; path=/");
}

function delete_cookie ( cookie_name )
{
  setCookie(cookie_name,"",-1);
  // var cookie_date = new Date ( );  // current date & time
  // cookie_date.setTime ( cookie_date.getTime() - 1 );
  // document.cookie = cookie_name += "=; expires=" + cookie_date.toGMTString();
}

  window.onload = function(){
  time = new Date();
  
    $.ajax({
     url: '/ajax/sum3.json', 
     data:  {
              user_id: getCookie('user_id'),
              page_id: getCookie('page_id') , 
              timespent: (getCookie('endtime')-getCookie('starttime'))/1000,
              startdate : getCookie('startDate'),
              enddate : getCookie('endDate')
         },
     success: function(data) {
              var output = data.result;
              // alert(output);
              /* output should be 150 if successful */
         },
          dataType:"json",
         //async: true,
         type: "POST"
       });
    //localStorage.clear();
 

     setCookie('starttime',new Date().getTime(),1);  
     setCookie('user_id', <%= current_user.id %>,1);
     setCookie('page_id',<%= @page.id %>,1);
     setCookie('startDate',new Date(),1);
     setCookie('endDate',new Date(),1);
 }


 
   $(window).unload(function () {

     setCookie('endtime',new Date().getTime(),1);  

     console.log("ajax sent");


 });



</script>

<h1>Show Page</h1> <br><br>
<%= link_to "Learn", pages_path %> 

<table border=0 cellspaceing="5">
  <tr>
    <td>Title</td><td>:</td><td><%= @page.title %></td>
  </tr>
  <tr>  
    <td>Category</td><td>:</td><td><%= @page.categorie.name %></td>
  </tr>
  <tr>  
    <td valign='top'>Content</td><td valign='top'>:</td><td valign='top'><%= @page.content.html_safe %></td>
  </tr>
  <tr>  
    <td>Last Updated</td><td>:</td><td><%= @page.updated_at.strftime("%d %b, %I:%M%p") %></td>
  </tr> 
  
</table>  

<br>
<%= link_to 'Back', pages_path, class: "btn btn-info"  %>


<br>
