<script>
var time,timeSite,starttime,endtime;

  window.onload = function(){
 
  console.log(localStorage);
  if(localStorage.length!=0)
  {

    $.ajax({
     url: '/ajax/sum3.json', 
     data:  {
              starttime: localStorage['starttime'],
              endtime: localStorage['endtime'] ,
              page_id: localStorage['page_id'] , 
              timespent: (localStorage['endtime']-localStorage['starttime'])/1000
         },
     success: function(data) {
              var output = data.result;
              // alert(output);
              /* output should be 150 if successful */
         },
         // dataType:"json",
         async: true,
         type: "POST"
       });
    localStorage.clear();
  }

 localStorage['starttime']=new Date().getTime();  
 localStorage['page_id']=<%= @page.id %>;

 }



$(window).unload(function ()  {      localStorage['endtime']=new Date().getTime();    });


</script>

<h1>Show Page</h1> <br><br>
<%= link_to "Learn", pages_path %> 

<table border=0 cellspaceing="5">
	<tr>
		<td>Title</td><td>:</td><td><%= @page.title %></td>
	</tr>
	<tr>	
		<td>Category</td><td>:</td><td><%= @page.categorie.name %></td>
	</tr>
	<tr>	
		<td valign='top'>Content</td><td valign='top'>:</td><td valign='top'><%= @page.content.html_safe %></td>
	</tr>
	<tr>	
		<td>Last Updated</td><td>:</td><td><%= @page.updated_at %></td>
	</tr>	
	
</table>	

<br>
<%= link_to 'Back', pages_path, class: "btn btn-info"  %>


<br>
