<h1>Update Category</h1> 
 <%= form_for([:admin, @category]) do |c| %>
<table>
   
    	<%= render 'shared/error_messages' ,object: c.object %>
		<tr>
		     <td> <%= c.label :name %></td>
		     <td> <%= c.text_field :name %></td>
		</tr>
		
	    <tr>
	     	<td> <%= c.submit "Update new category", class: "btn btn-large btn-primary" %></td>
	     	<td><%= link_to 'Cancel', admin_categories_path, class: "btn btn-info" %></td>
	    </tr>
    
</table>  
<% end %>