<div class="container">
<div class="page-header">
<h1 class="category">Category List</h1>
<%= link_to 'Dashboard(Home)', admin_path, class: "btn btn-info category-bttn" %>
<%= link_to 'Add New Category', new_admin_category_path, remote: true, class: "btn btn-info category-bttn" %>
</div>

<% if @allcategory.count == 0 %>
<%= "No record presents" %>
<% else %>

<div class="table-responsive">
<table class="table">
  <thead>
    <tr class="active">
    <th >Name</th>
    <th></th>
    <th></th>
    </tr>
    <tbody class="product-index">
      <%= render "index" %>
    </tbody>
  </thead>  
  </table>
</div>
	
<% end %>	
 <br><br>
 <%# = will_paginate @allcategory %>	
 <%= will_paginate @allcategory, renderer: BootstrapPagination::Rails %>
 </div>
 
 
 

<div id="product-modal" class="modal fade">
<div class="modal-dialog">
    <div id="inner-product-modal" class="modal-content"></div>
</div>
</div>