
<div class="container">
<div class="page-header">
<h1 class="category">User Logs</h1>
<%= link_to 'Dashboard(Home)', admin_path, class: "btn btn-info category-bttn" %>
</div>

<% if @userlogs.count == 0 %>
<%= "No record presents" %>
<% else %>

<div class="table-responsive">
<table class="table">
<thead>
<tr class="active">
<th>User Name</th>
<th>Page Title</th>
<th>Time Spent</th>
</tr>
<% @userlogs.each do |userlog| %>
<tr>
<td><%= userlog.user.username %></td>
<td><%= userlog.page.title %></td>
<td><%= userlog.timespent  %>				
</tr>
<% end %>
</thead>
</table>
</div>


<% end %>
<%= will_paginate @userlogs %>

</div>

