<div class="container">
<div class="page-header">
<h1 class="category">Invitation sent to following users</h1>
<%= link_to 'Dashboard(Home)', admin_path, class: "btn btn-info category-bttn" %>
</div>



<div class="table-responsive">
<table class="table">
<thead>
<tr class="active">
<th>User Name</th>
<th>Email Id</th>
<th>Invitation sent on</th>
</tr>
<% @userlogs.each do |userlog| %>
<tr>
<td><%= userlog.username %></td>
<td><%= userlog.email  %>	
<td><%= userlog.invitation_sent_at.strftime("%d %b, %I:%M%p") %></td>
</tr>
<% end %>
</thead>
</table>
</div>


<%= will_paginate @userlogs %>
</div>