<div class="container">
<div class="page-header">
<h1 class="category">Page Count</h1>
<%= link_to 'Dashboard(Home)', admin_path, class: "btn btn-info category-bttn" %>
</div>




<div class="table-responsive">
<table class="table">
<thead>
<tr class="active">
<th>User Name</th>
<th>Page Name</th>
<th>Count</th>
</tr>
<% @userlogs.each do |userlog| %>

<tr>
<td><%= userlog.user.username %></td>
<td><%= userlog.page.title %></td>
<td><%= userlog.pgcount  %>	
</tr>
<% end %>
</thead>
</table>
</div>
<%= will_paginate @userlogs %>
</div>
