
<%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => { :method => :put ,class:"form-signin form-invitation"} do |f| %>
<h3><%= t 'devise.invitations.edit.header' %></h3>

  <%= devise_error_messages! %>
  <%= f.hidden_field :invitation_token %>

 
  <%= f.text_field :username , class: "form-control", :autofocus => true , :placeholder=>"Username" %>

  <%= f.password_field :password , class: "form-control",  :placeholder=>"Password" %>
   
  <%= f.password_field :password_confirmation , class: "form-control",  :placeholder=>"Password Confirmation" %>

  <p><%= f.submit t("devise.invitations.edit.submit_button") , class: "btn btn-lg btn-login btn-block" %></p>
<% end %>

