<!DOCTYPE html>
<html>
<head>
  <title>CaptiveOne</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
 
</head>
<body>

  <% if current_user %>
    <% case current_user.role.name %>
    <% when "admin"%>
      <%= render partial: "layouts/headers/admin_header" %>
    <% when "registered"%>
      <%= render partial: "layouts/headers/referral_source_header" %>

    <% end %>
  <% else %>
    <%= render partial: "layouts/headers/default_header" %>
  <% end %>
  <br><br>
  <div class="container">
    <% flash.each do |name, msg| %>
      <b><font color="red"> <%= content_tag(:div, msg, class: "alert alert-info") %></font></b>
    <% end %>
    <%= yield %>
  </div>


  

</body>
</html>
<% if current_user %>
<style>
body
{
background-color:white;
}
</style>
<% end %>
<script>

var url = window.location;

// Will only work if string in href matches with location
$('ul.nav a[href="'+ url +'"]').parent().addClass('active');

// Will also work for relative and absolute hrefs
$('ul.nav a').filter(function() {
    if("http://localhost:3000/" == url.href)
    {
      $('[href="/home"]').parent().addClass("active");
    }
    return this.href == url;
}).parent().addClass('active');


</script>
 